<div class="body">
  <div class="wrapper">

    <div class="baggage-detail-name">
      <%= render partial: "baggage", locals: { baggage: @baggage } %>
      <div class="detail-time-specification">
        <span class="detail-span">配達指定</span><%= @baggage.time_specification %>
      </div>
    </div>

    <%#% 配達実績の入力 %>
    <div class="delivery-selection">
      <% if @result == false %>
        <% if current_user.id == @baggage.user.id %>
          <%= form_with(model: [@baggage, @delivery], local: true) do |form| %>
            <div class="delivery-field">
              <%= form.radio_button :delivery_result, '配達済み', checked: true, class: "delivery-radio-btn" %>
              <%= form.label :delivery_result, "完了", value: '配達済み', class: "delivery-label" %>
              <%= form.radio_button :delivery_result, '不在', class: "delivery-radio-btn" %>
              <%= form.label :delivery_result, "不在", value: '不在', class: "delivery-label" %>
            </div>
            <div class="send-field">
              <%= form.submit "送信", class: "send-btn" %>
            </div>
          <% end %>
        <div class="baggage-destroy">
          <%= link_to "持出データ削除", baggage_path(@baggage.id), method: :delete, class: "destroy-btn" %>
        </div>
       <% end %>
      <% else %>
        <div class="result-text">
          <p>配達済み</p>
        </div>
      <% end %>
    </div>

  </div>
</div>